/* ------------------- Vars -------------------------- */
$header-height: 60px;
$footer-height: 35px;
$red: #EA526F;
$orange: #FF8A5B;
$peach: #FCEADE;
$blue: #25CED1;
$blue-hover: #2ca8ab;
$black: #333;
$white: #fff;
$transition: .3s;
$card-height: 300px;
$max-width: 900px;

/* ------------------- Basic -------------------------- */
* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

#main {
  height: 100%;
}

body {
  height: 100vh;
  background: $white;
}

/* ------------------- Flex containers -------------------------- */
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  height: calc(100vh - #{$header-height} - #{$footer-height});

  .flex-item-half {
    flex-basis: 50%;
  }
}

/* ------------------- Atomic -------------------------- */
.button {
  background: $blue;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  height: 24px;
  text-transform: uppercase;
  color: $white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .5px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 12px;
  transition: $transition;
  
  // From: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  
  &:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    background: $blue-hover;
  }
}

.no-select {
  // From: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.title {
  color: $white;
  font-family: Lilita One;
  font-style: normal;
  font-weight: normal;
  -webkit-text-stroke: 2px $orange;
}

.subtitle {
  font-family: Poppins;
  font-style: normal;
  text-transform: uppercase;
  color: $red;
  font-weight: 800;
}

.orange {
  color: $orange;
}

.red {
  color: $red;
}

.normal {
  font-weight: normal;
}

.center {
  text-align: center;
}

.textfield-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: $orange
}

.textfield-input {
  border: none;
  height: 48px;
  padding-left: 10px;
  color: $black;
  background-color: $peach;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  
  &::placeholder {
    color: $orange;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal-main {
    z-index: 3;
    position:fixed;
    background: white;
    top: 0;
    right: 0px;
    width: auto;
    height: auto;
    overflow-y: scroll;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
    border-radius: 0 0 0 24px;
}

.segmented-button-start, .segmented-button-mid, .segmented-button-end {
  position: relative;
  left: 0px;
  display: inline-block;
  padding: 22px 14px;
  color: $orange;
  border: 3px solid $orange;
  width: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
  transition: $transition;

  &:hover, &:focus {
    cursor: pointer;
    background: $peach;
    outline: none;
  }

  &.active {
    background: $red;
    border: 3px solid $red;
    color: white;
    z-index: 2;

    &:hover {
      cursor: default;
    }
  }
}

.segmented-button-mid, .segmented-button-end {
  position: relative;
  margin-left: -3px;
}

.segmented-button-start {
  border-radius: 12px 0px 0px 12px;
}

.segmented-button-end {
  border-radius: 0px 12px 12px 0px;
}

.alert {
  position: fixed;
  top: 50px;
  left: 50%;
  height: 25px;
  background-color: $peach;
  color: orange;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  transform: translateX(-50%);
  padding: 15px 25px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

/* -------------------- Animations ------------------------- */

.opacity-enter {
  opacity: 0.01;
}

.opacity-enter.opacity-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.opacity-exit {
  opacity: 1;
}

.opacity-exit.opacity-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in-out;
}

.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter.slide-in-right-enter-active {
  transform: translateX(0%);
  transition: transform 250ms ease-in-out;
}

.slide-in-right-exit {
  transform: translateX(0%);
}

.slide-in-right-exit.slide-in-right-exit-active {
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.alert-anim-enter {
  opacity: 0.01;
  transform: translateX(200%) scale(.8, .7);
}

.alert-anim-enter.alert-anim-enter-active {
  opacity: 1;
  transform: translateX(-50%) scale(1, 1);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
}

.alert-anim-exit {
  opacity: 1;
  transform:  translate(-50%) scale(1, 1);
}

.alert-anim-exit.alert-anim-exit-active {
  opacity: 0.01;
  transform:  translate(-50%) scale(.5, .5);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
}


/* -------------------- Header ------------------------- */
.header {
  display: flex;
  height: 60px;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: flex-end;
  
  #lockup {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    
    .title {
      font-size: 32px;
    }
    
    .subtitle {
      margin-top: 6px;
      margin-left: 6px;
      font-size: 14px;
    }
  }
  
  .header-item {
    align-self: center;
    text-transform: uppercase;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: $orange;
    padding: 20px;
    transition: $transition;
    
    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}

.header .active-header-item .header-item {
  color: $blue;
}

/* ----------------------- Home ---------------------- */
#home-image {
  width: 100vw;
  height: 100%;
  border-radius: 24px 0px 0px 24px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.35);
  background: 
    linear-gradient(90deg, rgba(252, 234, 222, 0.7) 0%, rgba(252, 234, 222, 0.434) 97.48%), 
    url(https://cdn.glitch.com/94c5cfdd-a174-4ce4-9667-4041d68dcaa7%2Fbunhome.jpeg?v=1569539267303) 
    left center / cover no-repeat;
}

#home-info-container, #about-info-container, #about-map-container {
  align-self: center;
  margin-top: calc(-1 * #{$header-height});
  
  p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    color: $black;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
  }
  
  #home-info, #about-info {
    max-width: 300px;
    margin: auto;

    #home-title-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-end;
      color: white;
      
      .title {
        font-size: 90px;
        line-height: 91px;
        text-align: center;
        letter-spacing: -3px;
        -webkit-text-stroke: 4px $orange;
      }
      
      .subtitle {
        flex-basis: 100%;
        position: relative;
        text-align: end;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

/* ----------------------- Shop ---------------------- */
.card {
  flex: 0 0 25%;
  height: $card-height;
  min-width: 225px;
  margin: 0px 30px 30px 30px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
  transition: $transition;
  
  &:hover {
    cursor: pointer;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
    
    &::after {
      transition: $transition;
      transform: translateY(-30px);
    }
  }
  
  &::after {
    display: block;
    position: relative;
    background-image: linear-gradient(180deg, rgba(16, 16, 16, 0) 57.04%, rgba(16, 16, 16, 0.77) 100%);
    margin-top: calc(-1.07 * #{$card-height});
    height: 100%;
    width: 100%;
    content: '';
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .name, .price {
    color: white;
    position: relative;
    z-index: 1;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 1px black;
  }
  
  .name {
    bottom: 40px;
    left: 10px;
  }
  
  .price {
    bottom: 70px;
    right: 10px;
    text-align: end;
  }
}

#shop-flex {
  max-width: $max-width;
  margin-right: auto;
}

#shop-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: $red;
  flex-basis: 100%;
  margin: 30px;
  margin-right: auto;
  align-self: flex-start;
}

/* ----------------------- About ---------------------- */
#about-flex {
  width: 100vw;
  justify-content: center;
}

#about-map-container, #about-info-container {
  flex-basis: 30%;
}

#about-map-container {
  img {
    display: block;
    margin: auto;
    margin-right: 0px;
    border-radius: 8px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
  }
  p {
    margin: 20px auto;
    margin-right:0px;
    width: 300px;
    text-align: center;
  }
}

#about-image {
  flex-basis: 30%;
  flex-grow: 1;
  height: 100%;
  border-radius: 24px 0px 0px 24px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.35);
  background: 
    linear-gradient(90deg, rgba(252, 234, 222, 0.1) 0%, rgba(252, 234, 222, 0.34) 97.48%), 
    url(../assets/bakery.jpeg) 
    left center / cover no-repeat;
}

/* ----------------------- Catering ---------------------- */

#catering-form-container {
  max-width: $max-width;
  align-content: flex-start;
    
  h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    margin: 30px;
    font-size: 24px;
    color: $red;
    flex-basis: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    align-self: flex-start;
  }

  #catering-form-image {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: 40%;
    border-radius: 12px 0px 0px 12px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #catering-form-fields {
    margin-right: 30px;
    margin-top: 30px;
    flex-basis: 40%;
    border-radius: 0px 12px 12px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    z-index: 4;
    
    .textfield {
      flex-basis: 100%;
      margin-bottom: 10px;
    
      &:nth-child(4) {
        flex-basis: 35%;
        margin-right: 20px;
        flex-grow: 1;
      }
      
      &:nth-child(5) {
        flex-basis: 10%;
        flex-grow: 1;
      }
    }
    
    .textfield-input {
      margin-top: 2px;
      width: calc(100% - 10px);
    }
    
    .button {
      width: calc(100% + 10px);
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

/* ----------------------- Catering ---------------------- */
#details-popup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px 45px 45px 45px;


  .flex-item-half {
    flex-basis: 46%;
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &:nth-child(3) {
      margin-left: 45px;
    }

    .item-name {
      font-family: Poppins;
      font-weight: 800;
      font-size: 32px;
      color: $red;
    }

    .details-input-label {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: $orange;
      padding-top: 18px;
      padding-bottom: 4px;

      &.glaze-label {
        padding-top: 0px;
      }
    }
  }

  .flex-item-full {
    flex-basis: 100%;
    text-align: end;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    color: $blue;
    font-weight: 900;
    font-family: Poppins;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }

  .price-label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: $orange;
    text-align: center;
    margin-top: 8px;

    .price {
      color: $red;
      font-weight: bold;
    }
  }

  .description {
    font-family: Poppins;
    font-weight: normal;
    font-size: 16px;
    padding-top: 24px;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .button {
    margin-top: 34px;
  }

  .details-summary {
    width: 100%;
    height: 48px;
    padding-top: 12px;
    border: 3px solid $orange;
    border-radius: 12px;
    font-family: Poppins;
    font-weight: bold;
    color: $orange;
    font-size: 24px;
    text-align: center;

    .emphasis {
      color: $red;
    }
  }

  .glaze-container {
    display: flex;
    flex-direction: row;
    min-height: 74px;
    align-items: center;

    .glaze-input {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      width: 55px;
      padding: 0px 14px;
      height: 100%;
      min-height: 74px;
      text-align: center;
    }
  }
}